logs/
npm-debug.log
node_modules/
coverage/
.idea/
run/
logs/
.DS_Store
.history
*.swp
*.lock
!.autod.conf.js
app/**/*.js
test/**/*.js
config/**/*.js
utils/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
config.local.ts
config.prod.ts
